h1{
	text-align: center;
	font-family: Eczar;
	background-color: black;
	color: white;
	}
img{
	width: 100px;
	border-radius: 100%;
}
table{
	text-align: center;
}
.container{
	font-family: Fraunces;
	
}
.hutao{
	color: whitesmoke;
}
